@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }
.white { color: #fff; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 90.59%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
* { box-sizing: border-box; }

header .wrapper {
  padding: 19px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo { margin-right: 6.5%; }
.logo a { text-indent: -99999px }
.logo img { float: right; }

.hamburger,
.dropdown-menu { display: none; }


.nav-menu a {
  margin-right: 20px;
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.drop > a::after {
  content: '\f0dd';
  margin-left: 4px;
  font:900 10px "Font Awesome 5 Free";
  vertical-align: bottom; 
}

.sign-in-info { margin-left: auto; }
.sign-in-info a:first-letter { text-transform: capitalize; }

.sign-in { 
  margin-right: 9px;
  font-size: 16px; 
}

.sign-in,
.log-in { color: #15ae2d; }

.sign-in-info span { 
  margin-right: 9px;
  font-size: 13px; 
}

.log-in {
  padding: 10px 34px 8px;  
  border: 2px solid #15ae2d;
  margin-right: 5px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 900;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner ends here*/
.banner { background-color: #00a82d; }

.banner .wrapper {
  display: flex;
  justify-content: space-around;
}

.banner-info {
  padding: 59px 0 95px;
  flex-basis: 50%;
}

.banner-info h2 {
  margin-bottom: 16px;
  font-size: 52px;
  font-weight: 900;
  line-height: 69px;
}

.banner-info span { display: block; }

.banner-info p {
  width: 90%;
  font-size: 22px;
  line-height: 38px;
}

.sign-up-free { margin-top: 34px; }

.sign-up-free a {
  padding: 20px 35px;
  border-radius: 3px;
  background-color: #fff;
  color: #00a82d;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 1.1px;
}

.banner figure { margin-top: 133px; }

/*banner ends here*/
/*our plans starts here*/
.our-plans { padding:137px 0 152px; }

.our-plans-info li {
  width: 100%;
  display: flex;
}

.our-plan-text {
  width: 50%;
}
/*our plans ends here*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  